# Eclipse  #
############

*.project
*.classpath
*.settings
.externalToolBuilders

# IntelliJ #
############

*.iml
.idea

# maven #
#########
maven-eclipse.xml
target

# Mac OsX  #
##########
.DS_Store
